In [1]:
def hash_get(key):
  h = 0
  for char in key:
    h += ord(char)
  return h % 100

In [2]:
hash_get('trial')

40

In [33]:
class HashTable:
  def __init__(self):
    self.MAX = 100
    self.arr = [None for i in range(self.MAX)]
  
  def hash_get(self, key):
    h = 0
    for char in key:
      h += ord(char)
    return h % 100

  def __setitem__(self, key, val):
    h = self.hash_get(key)
    self.arr[h] = val

  def __getitem__(self,key):
    h = self.hash_get(key)
    return self.arr[h]
  
  def __delitem__(self, key):
    h = self.hash_get(key)
    self.arr[h] = None

In [36]:
t = HashTable()

t['march 6'] = 130

In [37]:
del t['march 6']

In [ ]:
t.arr

In [40]:
some = {}

for i in range(10):
  some[i] = i*100
some

{0: 0, 1: 100, 2: 200, 3: 300, 4: 400, 5: 500, 6: 600, 7: 700, 8: 800, 9: 900}

In [43]:
text = "this is some text with text"

In [45]:
text_arr = text.split(" ")

In [47]:
text_arr
text_dict = {}

In [49]:
for i in text_arr:
  if i in text_dict:
    text_dict[i]+=1
  else:
    text_dict[i]=1

In [50]:
text_dict

{'is': 1, 'some': 1, 'text': 2, 'this': 1, 'with': 1}

In [56]:
arr = [1,2,2,3,4,5,5,6]

In [57]:
dict_arr = {}

for i in arr:
  if i in dict_arr:
    dict_arr[i]+=1
  else:
    dict_arr[i]=1

dict_arr

{1: 1, 2: 2, 3: 1, 4: 1, 5: 2, 6: 1}

In [63]:
import random

arr_2 = []
for i in range(100):
  arr_2.append(random.randint(0, 100))

In [64]:
arr_2

[1,
 20,
 13,
 52,
 39,
 37,
 27,
 85,
 28,
 9,
 83,
 17,
 53,
 50,
 19,
 69,
 52,
 85,
 57,
 26,
 44,
 37,
 65,
 83,
 37,
 15,
 51,
 19,
 46,
 29,
 12,
 19,
 71,
 54,
 73,
 96,
 12,
 19,
 48,
 64,
 3,
 62,
 87,
 64,
 29,
 90,
 12,
 23,
 74,
 26,
 15,
 88,
 27,
 42,
 54,
 64,
 52,
 70,
 42,
 78,
 94,
 3,
 81,
 26,
 47,
 36,
 44,
 30,
 64,
 49,
 79,
 71,
 20,
 49,
 94,
 52,
 85,
 84,
 80,
 15,
 97,
 46,
 47,
 68,
 90,
 89,
 59,
 80,
 94,
 84,
 10,
 83,
 58,
 67,
 98,
 4,
 46,
 10,
 93,
 17]

In [65]:
arr_2_dict = {}

for i in arr_2:
  if i in arr_2_dict:
    arr_2_dict[i]+=1
  else:
    arr_2_dict[i] = 1

arr_2_dict

{1: 1,
 3: 2,
 4: 1,
 9: 1,
 10: 2,
 12: 3,
 13: 1,
 15: 3,
 17: 2,
 19: 4,
 20: 2,
 23: 1,
 26: 3,
 27: 2,
 28: 1,
 29: 2,
 30: 1,
 36: 1,
 37: 3,
 39: 1,
 42: 2,
 44: 2,
 46: 3,
 47: 2,
 48: 1,
 49: 2,
 50: 1,
 51: 1,
 52: 4,
 53: 1,
 54: 2,
 57: 1,
 58: 1,
 59: 1,
 62: 1,
 64: 4,
 65: 1,
 67: 1,
 68: 1,
 69: 1,
 70: 1,
 71: 2,
 73: 1,
 74: 1,
 78: 1,
 79: 1,
 80: 2,
 81: 1,
 83: 3,
 84: 2,
 85: 3,
 87: 1,
 88: 1,
 89: 1,
 90: 2,
 93: 1,
 94: 3,
 96: 1,
 97: 1,
 98: 1}

In [66]:
arr_2

[1,
 20,
 13,
 52,
 39,
 37,
 27,
 85,
 28,
 9,
 83,
 17,
 53,
 50,
 19,
 69,
 52,
 85,
 57,
 26,
 44,
 37,
 65,
 83,
 37,
 15,
 51,
 19,
 46,
 29,
 12,
 19,
 71,
 54,
 73,
 96,
 12,
 19,
 48,
 64,
 3,
 62,
 87,
 64,
 29,
 90,
 12,
 23,
 74,
 26,
 15,
 88,
 27,
 42,
 54,
 64,
 52,
 70,
 42,
 78,
 94,
 3,
 81,
 26,
 47,
 36,
 44,
 30,
 64,
 49,
 79,
 71,
 20,
 49,
 94,
 52,
 85,
 84,
 80,
 15,
 97,
 46,
 47,
 68,
 90,
 89,
 59,
 80,
 94,
 84,
 10,
 83,
 58,
 67,
 98,
 4,
 46,
 10,
 93,
 17]